/*----------LOGO above TOC---------*/

#TOC::before {
  content: "";
  display: block;
  height: 100px;
  margin: 2em 20px 40px 20px;
  background-image: url("logos/logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}